.header{
    display: none;
}

.item{
    list-style: none;
    color: var(--light-blue);
    background-color: transparent;
    width: fit-content;
    font-family: Tahoma, sans-serif;
    font-size: clamp(.5rem, 2vw, 5rem);
    text-shadow:
      0 0 0.4vw var(--light-blue),
      0 0 0.8vw var(--light-blue);
}

.item:hover{
    transform: scale(1.1);
}

.item input, .item button{
    font-size: clamp(.35rem, 1vw, 5rem);
}

@media(min-width: 600px){
    .header{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--black);
        margin: 0;
        width: 100%;
        padding: 0;
        gap: 0;
        height: clamp(1rem, 4vw, 5rem);
    }
}