div{
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    color: var(--white);
}

p{
    font-family: var(--roboto);
    font-size: 1rem;
}

.homePropsDesktop{
    display: none;
}

.homePropsMobile{
    display: block;
}

.subtitulo{
    margin-top: 0.4rem;
    width: 100%;
    font-family: var(--roboto);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

.responsavel{
    margin-top: 0.6rem;
    width: 80%;
    font-family: var(--roboto);
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

.provas{
    margin-top: 0.5rem;
}

.videos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width: 600px){
.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item{
    width: 100%;
}

.subtitulo{
    margin-top: 0.4rem;
    font-family: var(--roboto);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    font-size: 1.5rem;
    color: var(--white);
}

.provas{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.videos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.servicos{
    margin-top: 25px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards{
    width: 90%;
    margin: 12px 0 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.homePropsDesktop{
    display: block;
}

.homePropsMobile{
    display: none;
}
}