section{
    min-height: 600px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    padding: 30px 0px 0px 0px;
    background-size: cover;
}

.home{
    background-image: url("../../../public/HomeBackground.png");
}

.sobre{
    background-image: url("../../../public/AboutBackground.png");
}

.portfolio{
    background-image: url("../../../public/PortfolioBackground.png");
}

.servicos{
    background-image: url("../../../public/ServicosBackground.png");
}

.contato{
    background-image: url("../../../public/ContatoBackground.png");
}

.sobre p{
    margin: 1rem 0;
    font-family: var(--roboto);
    text-align: center;
    font-size: 1.5rem;
}

.sobre ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 100%;
} 

.servicos p{
    text-align: center;

}

@media(min-width:600px){
    .sobre p{
    margin: 0;
    font-family: var(--roboto);
    text-align: justify;
    font-size: 2rem;
}

.sobre ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 36rem;
} 
}